* {
    margin:0;
    padding:0;
    font: inherit;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 20%;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    padding:1% 10%;
}

.header-right {
    display: flex;
    gap:20px;
}

.header-left {
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #c1c2c4;
}

/* //////////////////////////////////////////////////// */

.intro {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5% 10%;
    gap:180px;
}

.intro-button {
    padding:10px 40px;
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
    border:none;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
}

.intro-right {
    background-color: gray;
    max-width: 500px;
    max-height: 250px;
}

.intro-header{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro-left {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #a7a9ac;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:8px;
}

/* //////////////////////////////////////////////////// */

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:40px;
    padding:2% 23%;
    margin: 2%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.info-top {
    display: flex;
    justify-content: center;
}

.card p {
    text-align: center;
    font-size: 15px;
} 

.info-header {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    flex: 0 0 170px;
}


.box {
    border:4px solid #3882F6;;
    border-radius: 20px;
    min-width: 170px;
    min-height: 170px;
    max-width: 170px;
    max-height: 170px;
    flex: 0 0 auto;
}

/* ///////////////////////////////////////// */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb ;
    padding: 5% 28%;
    justify-content: space-around;
    align-items: center;
}

.quote-text {
    font-size: 36px ;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    flex: 0 0 auto;
}

.quote-name {
    align-self: flex-end;
    font-size: 24px;
    color: #757677;
    font-weight: 600;
    flex: 0 0 auto;
}